@charset "utf-8";
/* CSS Document */

body { margin:0 auto; font-size:12px; font-family:Verdana; line-height:1.5;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
a{ text-decoration:none; color:#000000;}
img { border:0px;}
.clear { clear:both; height: 0; line-height: 0; font-size: 0; }
.center{ margin-left:auto; margin-right:auto;}
.input_label{ font-size:20px;}
.input_textbar{height:28px; width:200px; font-size:16px; padding-left:10px;  /*border:solid 1px black;*/ }
.btn{font-size:20px; margin-left:10px;}


body{ background-color:#D4DFFF;}
#container{ overflow:hidden;}

#header{height:56px; width:100%; position:fixed; z-index:998; left:0; top:0; /*background-color: #2A3F55;*/ background-color:#000000; repeat-x; opacity:0.5; filter:alpha(opacity=50); }

/*common navigation*/
#header ul{width:800px; height:54px; margin:0 auto; border:1px solid black;}
#header ul li{width:80px; float:left; font-family:"微软雅黑", "宋体", Arial, "MS Serif";  font-size:16px; border:1px solid black; line-height:53px; margin-left:30px;}
#header ul li a{display:block;color:#FFF;  }
#header ul li a:hover{ background-color: #808080; }
#header ul .exit{ margin-left:200px; margin-top:20px; font-size:14px; line-height:30px; vertical-align:bottom; }

/*home.html*/
.content_background{background:url(../images/paper.png) no-repeat;}
#content{ position:absolute; top:56px; width:900px;  height:660px; margin-left:200px; /*border: solid 1px red;*/ }
#content .date{ font-family:"微软雅黑", "宋体", Arial, "MS Serif";}
#content .content_left{float:left; width:500px; margin:50px 0 0 50px;/*border:1px solid black;*/ }
#content .content_left .add_note{ width:260px; height:100px;  background:url(../images/rect4.png);/*border:1px solid;*/}
#content .content_left .add_note_pic{ float:left;width:100px;height:100px;background: url(../images/add_100-100.png); /*border:1px solid red;*/}
#content .content_left .add_note_word{float:left; line-height:100px; font-size:28px; font-weight:bold; font-family:"微软雅黑", "宋体", Arial, "MS Serif";/* border:1px solid;*/}
#content .content_left .view_note{ width:260px; height:100px; margin-top:30px;  background:url(../images/rect4.png);/*border:1px solid;*/}
#content .content_left .view_note_pic{  float:left; width:100px; height:100px;background: url(../images/view_100-100.png);/*border:1px solid;*/}
#content .content_left .view_note_word{float:left; line-height:100px; font-size:28px; font-weight:bold; font-family:"微软雅黑", "宋体", Arial, "MS Serif"; /*border:1px solid;*/}
#content .content_right{float:left;width:200px; margin:50px 0 0 40px;/*border:1px solid black;*/}
#content .describe{ margin-top:50px; margin-left:50px; font-size:20px; font-family:"微软雅黑", "宋体", Arial, "MS Serif"; height:100px;/* border:1px solid;*/}



/*note.html*/
#content .note_title{resize:none; margin:10px auto 0 auto; height:30px; text-align:center;opacity:0.9; filter:alpha(opacity=90); font-family:"微软雅黑", "宋体", Arial, "MS Serif"; /*border:1px solid;*/}
#content .note_text{ width:700px; height:450px; resize:none; margin:10px auto;  font-size:20px; font-family:"微软雅黑", "宋体", Arial, "MS Serif"; background: #AADFFF;opacity:0.5; filter:alpha(opacity=50); overflow-x:hidden;overflow-y:auto; 
/* border:1px solid;*/}


/*my_note.html*/
#content .content_top{ display:block; width:830px; height:40px; margin:10px auto 0 auto; /*border:1px solid;*/}
#content .content_top .new_btn{ display:block; width:133px; height:40px; margin:auto auto; background:url(../images/btn_login-22-34.png) 0 0 no-repeat; text-align:center; line-height:40px; font-size:20px; font-weight:100; font-family:"微软雅黑", "宋体", Arial, "MS Serif";}
#content .note_form{/*border:1px solid yellow;*/}
#content .list{ width:830px; height:400px; margin:0 auto; /*border:1px solid red;*/}
#content .list li{}
#content  .note_block{ width:170px; height:170px;  float:left; margin-left:30px; margin-top:20px;background:#FFBF55;  /*border:1px solid;*/}
#content  .page{ margin-top:10px;margin-left:375px; width:430px; height:60px;  /*border:1px solid;*/}
#content  .page input{ font-size:16px; line-height:14px; float:left;}
#content .note_block .note_block_title{display:block; margin-top:0px; margin-left:auto; margin-right:auto; /*border:1px solid;*/ text-align:center;}
#content .note_block .note_block_pic{ display:block; margin:16px auto 0 auto;}

#content .note_block .note_remove{ display:block; width:16px; height:16px; float:right; background:url(../images/myNote_remove.png) 0 0 no-repeat;}
#content .note_block .note_remove:hover{ background:url(../images/myNote_remove.png) -16px 0 no-repeat;}



/*downliad.html*/
.download_content{ background: #2A9FFF;/* border:1px solid red;*/}
#content .download_main_content{ width:720px; height:600px; margin:20px auto 0 auto;/* border:1px solid red;*/}
#content .download_info {width:400px; height:280px; font-size:24px; font-family:"微软雅黑", "宋体", Arial, "MS Serif"; font-weight:300; /*background:#AABF00;*/ /*border:1px solid;*/}
#content .download_main_content .download_btn{ width:220px; height:220px; /*border:1px solid;*/}
#content .download_main_content .download_btn .download_btn_a{ display:block;width:220px; height:220px; background:url(../images/download_btn_220-220.png); text-align:center; font-size:30px; font-weight:bold; color: #000; line-height:200px; font:"微软雅黑", "宋体", Arial, "MS Serif";}

/*about_us.html*/
.about_us_content{ background: url(../images/sky_900-605.jpg) no-repeat;}
#content .about_us_info{ width:600px; height:400px; font-size:20px; font-family:"微软雅黑", "宋体", Arial, "MS Serif"; margin:90px auto 0 auto; /*border:1px solid;*/ }
#content .about_us_info a{text-decoration:underline; color:blue; font-style:italic;}

#footer{margin-top:128px;height:30px;width:1440px; /*border:solid 1px black;*/}